/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=PT+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
}

/* Header*/
header {
    background-color: #d3d3d3;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 3px #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
}

h1 {
    font-family: 'PT serif', serif;
    font-size: 210%;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline #93678E dotted;
    color: #93678E;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 120%;
}

#menu li {
    margin-bottom: 2px;
}

.active {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

nav {
    position: absolute;
    background-color: #d3d3d3;
    width: 100%;
    left: 0;
    padding: 0 2.5rem;
    box-shadow: 0 4px 3px #d3d3d3;
    display: none;
    top: 100%;
    }

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    
}

/* Main content */
main {
    background-color: #eaeaea;
    flex: 1 0 auto;
    margin-top: 79px;
}

/* Welcome section*/
#welcome {
    height: 400px;
    width: 100%;
    background: url("../images/pexels-isaac-taylor-1557252.jpg") no-repeat center/cover;
    position: relative;
}

#welcome-text {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 70%;
    min-height: 200px;
    top: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

#welcome-text > h2 {
    font-size: 140%;
}

#welcome-text > h3 {
    font-size: 120%;
}

/* Styling divs in index.html */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

/* care.html styles */
#care {
    background: url("../images/pexels-anete-lusina-5240642\ \(1\).jpg") no-repeat center/cover;
    width: 100%;
    padding: 5px;
}

#care > h2,
#care > p {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}

#care-section div {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #3a3a3a;
    width: fit-content;
    text-align: left;
    padding: 5px;
    margin: 10% 15%;
}

/* Problems.html styles*/

#problems-header {
    margin: 1rem;
    font-size: 150%;
    text-align: left;
}

.container div {
    background-color: rgba(190, 220, 246, 0.4);
    border: solid 2px #3a3a3a;
    margin: 1rem;
    padding: 0.5rem;
    width: 70%;
}

.container h3 {
    text-decoration: underline;
}

#image-problems {
    background: url(../images/pexels-ingo-joseph-609771.jpg) no-repeat center center/cover;
    height: 200px;
    width: 200px;
    border: solid 1px, #3a3a3a;
    border-radius: 50%;
}

/* get-help.html styles*/
#ask {
    background: url(../images/pexels-cottonbro-studio-4684466\ \(1\).jpg) no-repeat center/cover;
}

#help-text {
    max-width: 280px;
    border: solid 2px white;
    margin: 1rem;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.8);
    text-align: right;
}

/* get-help form styles */
textarea {
    width: 225px;
}

input {
    width: 225px;
}

#help-form {
    max-width: 280px;
    border: solid 2px gainsboro;
    margin: 1rem;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

.ask-button {
    background-color: slategray;
    font-size: 100%;
    width: 100px;
    height: 30px;
}

/* Footer */
footer {
    background-color: #d3d3d3;
}

#social-media {
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Media query for large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #welcome-text {
        min-height: 150px;
        width: 60%
    }

    #welcome-text > h2 {
        font-size: 170%;
    }

    #welcome-text > h3 {
        font-size: 160%;
    }

    /* styles for care.html */
    #care > h2 {
        font-size: 180%;
        padding: 5% 10% 1% 10%;
    }

    #care > p {
        font-size: 120%;
        padding: 10px;
    }
}

/* media query for tablets and larger*/
@media screen and (min-width: 768px) {
    /* Header*/
    nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    }

    #menu {
    display: flex;
    }

    #menu > li {
    padding-left: 0.5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        margin: 0 0.6rem;
        line-height: 65px;
    }

 /* Main*/
    main {
        margin-top: 97px;
    }

    #welcome-text {
        min-height: 130px;
    }

    /* styles for divs in care.html*/
    #care-section h3 {
        font-size: 150%;
        padding-left: 15px;
        padding-bottom: 5px;
    }

    #care-section p {
        font-size: 110%;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    /* Making font bigger in problems.html */
    .container div {
        font-size: 110%;
    }

    /* styles for get-help.html*/
    .get-help-section {
        display: flex;
        justify-content: space-around;
    }

}

/* Media query for screen size 992px and larger*/
@media screen and (min-width: 992px) {
    #logo {
        font-size: 350%;
        letter-spacing: 0.5rem;
    }

    #menu a:hover {
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }

    #welcome {
        height: 500px;
    }

    #welcome-text {
        width: 50%;
    }

    #welcome-text > h2 {
        font-size: 200%;
        text-align: center;
    }

    #welcome-text > h3 {
        font-size: 180%;
        text-align: center;
        padding-bottom: 10px;
    }

    /* styles for care.html */
    #care>h2 {
        font-size: 230%;
        padding: 5% 10% 1% 10%;
    }
    
    #care>p {
        font-size: 170%;
        padding: 10px;
    }

    #care-section h3 {
        font-size: 150%;
        padding-left: 15px;
        padding-bottom: 5px;
    }
    
    #care-section p {
        font-size: 130%;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    /* styles for problems.html divs*/
    .space-out {
        display: flex;
        flex-direction: row;
        align-items:flex-end;
    }

    #image-problems {
        display: none;
    }

    #main-problems {
        background-color: #faf9f6;
    }


}