/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=PT+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
}

/* Header*/
header {
    background-color: rgba(120, 120, 120, 0.7);
}

h1 {
    font-family: 'PT serif', serif;
}

/* Main content */
main {
    background-color: #d4faff;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: pink;
}