/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=PT+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
}

/* Header*/
header {
    background-color: #e6ffed;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 3px #d1e8d1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
}

h1 {
    font-family: 'PT serif', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6b0a99;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 120%;
}

#menu li {
    margin-bottom: 2px;
}

.active {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

nav {
    position: absolute;
    background-color: #e6ffed;
    width: 100%;
    left: 0;
    padding: 0 2.5rem;
    box-shadow: 0 4px 3px #d1e8d1;
    display: none;
    top: 100%;
    }

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
    
}

/* Main content */
main {
    background-color: #e1e8d1;
    flex: 1 0 auto;
    margin-top: 82px;
}

/* Welcome section*/
#welcome {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-isaac-taylor-1557252.jpg") no-repeat center/cover;
    position: relative;
}

#welcome-text {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 70%;
    min-height: 200px;
    top: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

#welcome-text > h2 {
    font-size: 140%;
}

#welcome-text > h3 {
    font-size: 120%;
}

/* Footer */
footer {
    background-color: #e6ffed;
}

#social-media {
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* media query for tablets and larger*/
@media screen and (min-width: 768px) {
/* Header*/
nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
}

#menu {
    display: flex;
}

#menu > li {
    padding-left: 0.5rem;
}

.nav-toggle-label {
    display: none;
}

#logo {
    font-size: 180%;
    margin: 0 0.6rem;
    line-height: 65px;
}

/* Main*/
main {
    margin-top: 97px;
}
}

/* Media query for screen size 992px and larger*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
}